body {
	background-color: #dbe5f5;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	
}
.titulo{
	text-align: center;
}
main{
    border: black 1px solid;
    border-radius: 10px;
    background: rgba(233, 246, 252, 0.5);
    margin-bottom: 10px;
	font-size: 1rem;
	

}

.image-sample{
	width: auto;
}

.image-part1{
	width: auto;
	height: auto;
	border: #000 1px solid;
}

.image-part2{
	width: auto;
	height: auto;
	border: #000 1px solid;
}

.image-part3{
	width: auto;
	height: auto;
	border: #000 1px solid;
}


.imagenes-bloque1{
	text-align: center;
	display: block;
	
}

.imagenes-bloque2{
	text-align: center;
	
}	

.imagenes-bloque3{
	text-align: center;
	
}



.imagenes-bloque1 li, .imagenes-bloque2 li, .imagenes-bloque3 li{
	list-style: none;
	text-align: center;
	margin: 0;
	
}